<div class="banner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/filacheese.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>

<div class="second">
  <div class="container">
    <h2> Etapas </h2>
  </div>
</div>

<div class="third">
  <div class="container">
    <h2> Vantagens Cliente </h2>
  </div>
</div>

<div class="fourth">
  <div class="container">
    <h2> Vantagens Restaurante </h2>
  </div>
</div>

<div class="fifth">
  <div class="container">
    <h2> Vídeo </h2>
    <!--Change wideo width and height here-->
<div id="wideo-embed-block" 
  wideo-width="540" 
  wideo-height="310"
  wideo-id="2351231407466300749"
  autoplay="false">
</div>
<script type="text/javascript">(function(){var x=document.createElement('script'), s=document.getElementsByTagName('script')[0];x.async=true;x.src='http://static.wideo.co/js/embed/wideoembed.js';s.parentNode.insertBefore(x,s)})();</script>
  </div>
</div>