body{
	background: url('/images/filavina.jpg');
	background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.center {
margin-top: 100px;
margin-right: auto;
margin-left: auto;
display:block;
width:700px;
}

h2, h3 { text-align: center;  }

.banner img {
	 width: 33%;
}

.second {
  background: #CDF4E2;
  padding: 40px;
}

.third {
  background: red;
  padding: 40px;
}

.fourth {
  background: green;
  padding: 40px;
}

.fifth {
  background: yellow;
  padding: 40px;
}