.banner img {
	 width: 33%;
}

.second {
  background: blue;
  padding: 40px;
}

.third {
  background: red;
  padding: 40px;
}

.fourth {
  background: green;
  padding: 40px;
}

.fifth {
  background: yellow;
  padding: 40px;
}